<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Gear Bike Rental Company</title>
	<meta charset="utf-8">
</head>

<body>
	<div id="container">

		<!-- Use the header area for the website name or logo -->
		<header>
			<div class="logo">
				<a href="">
					<img src="" alt="logo">
				</a>
			</div>
			<nav id="navbar">
				<ul class="menu">
					<li class="menu-item  current-menu-item ">
						<a class="menu-item-link" href="">Home</a>
					</li>
					<li class="menu-item  current-menu-item ">
						<a class="menu-item-link" href="">Rental</a>
						<ul class="sub-menu">
							<li class="menu-item">
								<a class="menu-item-link" href="">Bike
									description</a>
							</li>
							<li class="menu-item"><a class="menu-item-link"
									href="">Payment</a></li>
						</ul>
					</li>
					<li class="menu-item  current-menu-item ">
						<a class="menu-item-link" href="">Review</a>
					</li>
					<li class="menu-item "><a
							class="menu-item-link" href="">Terms and
							Conditions</a></li>
				</ul>
			</nav>

			<div class="banner_image parallax_effect_yes"
				style="background-image:url(); height:400px; ">
				<div class="banner_image_overlay" style="background-color:#688080;opacity:0;background-image:url();">
				</div>
				<div class="heading_over_banner_image_wrapper">
					<h1 class="heading_over_image">Gear Bike Rentals and Sharing</h1>
					<div class="subheading_over_image">Promote your idle equipment now, Best rental prices.
					</div>
				</div>
			</div>

			</header>

			<!-- Use the main area to add the main content of the webpage -->
			<main>

			</main>

			<!-- Use the footer area to add webpage footer content -->
			<footer>
				&copy; Copyright 2020. All Rights Reserved.<br>
				<a href="mailto:gearbikerentals@gearcompanies.org">gearbikerentals@gearcompanies.org</a>
			</footer>

	</div>
</body>

</html>